@model IEnumerable<Vivero_G4.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo">Productos</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="producto" src="~/images/@Html.DisplayFor(modelItem => item.Imagen)" />
            </td>
            <td>
                <a asp-controller="Ventas" asp-action="Create" asp-route-id="@item.ArticuloId">
                    <input type="button" value="Comprar" class="btn btn-primary" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
        </tr>
}
    </tbody>
</table>
