@model IEnumerable<Vivero_G4.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo">Productos</h1>
<hr />
<div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    Stock
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="producto" src="~/images/@Html.DisplayFor(modelItem => item.Imagen)" />
                    </td>
                    <td>
                        <a class="btn btn-success" asp-area="" asp-controller="Articulo" asp-action="Comprar">Comprar</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad) U
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
