@model Vivero_G4.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSeguridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSeguridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEntrega)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VentaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
