@model IEnumerable<Vivero_G4.Models.Venta>

@{
    ViewData["Title"] = "Index";
    IEnumerable<Usuario> usuarios = ViewData["Usuarios"] as IEnumerable<Usuario>;
    IEnumerable<Articulo> articulos = ViewData["Articulos"] as IEnumerable<Articulo>;
}

@{
    if (TempData.Peek("usuarioEsAdmin") != null && TempData.Peek("usuarioEsAdmin").Equals(true))
    {
        <h1 class="titulo">Listado ventas</h1>
    }
    else if (TempData.Peek("usuarioEsAdmin") != null && TempData.Peek("usuarioEsAdmin").Equals(false))
    {
        <h1 class="titulo">Mis compras</h1>
    }
}
<hr />
<table class="table">
    @if (TempData.Peek("usuarioEsAdmin") != null && TempData.Peek("usuarioEsAdmin").Equals(true))
    {
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroTarjeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FecVencimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoEntrega)
                </th>
                <th>
                    Usuario
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @foreach (var articulo in articulos)
                        {
                            if (articulo.ArticuloId == item.ArticuloId)
                            {
                                @articulo.Nombre
                            }
                        }
                    </td>
                    <td>
                        $
                        @foreach (var articulo in articulos)
                        {
                            if (articulo.ArticuloId == item.ArticuloId)
                            {
                                @articulo.Precio
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NroTarjeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FecVencimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domicilio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoEntrega)
                    </td>
                    <td>
                        @foreach (var usuario in usuarios)
                        {
                            if (usuario.UsuarioId == item.UsuarioId)
                            {
                                @usuario.CorreoElectronico;
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroTarjeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoEntrega)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var nroTarjetaCliente = item.NroTarjeta % 10000;

                if (item.UsuarioId == Int16.Parse(TempData.Peek("usuarioId").ToString()))
                {
                    <tr>
                        <td>
                            @foreach (var articulo in articulos)
                            {
                                if (articulo.ArticuloId == item.ArticuloId)
                                {
                                    @articulo.Nombre
                                }
                            }
                        </td>
                        <td>
                            $
                            @foreach (var articulo in articulos)
                            {
                                if (articulo.ArticuloId == item.ArticuloId)
                                {
                                    @articulo.Precio
                                }
                            }
                        </td>
                        <td>
                            ************@nroTarjetaCliente
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Domicilio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoEntrega)
                        </td>
                    </tr>
                }
            }
        </tbody>
    }
</table>

<div class="row justify-content-center">
    <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Volver</a>
</div>
