@{TempData.Keep();}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Naturaleza Mística</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimun-scale=1 ,initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&family=Roboto+Mono:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&family=Poppins:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f914c7125.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/images/icon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom mb-1">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="imgBrand" src="~/images/logo.png" alt="Naturaleza Mistica" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (TempData.Peek("usuarioEsAdmin") != null && TempData.Peek("usuarioEsAdmin").Equals(true))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Articulo" asp-action="Index">ABM Productos</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Articulo" asp-action="Index">Productos</a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ComoComprar">Como Comprar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                        </li>
                        @{
                            if (TempData.Peek("usuarioEsAdmin") != null && TempData.Peek("usuarioEsAdmin").Equals(true))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">Listado Ventas</a>
                                </li>
                            }
                            else if (TempData.Peek("usuarioEsAdmin") != null && TempData.Peek("usuarioEsAdmin").Equals(false))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">Mis Compras</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                @{
                    if (TempData.Peek("usuarioId") != null)
                    {
                        <a class="btn btn-outline-danger" style="margin-right: 3px;" data-toggle="tooltip" title="Cerrá tu sesión" asp-area="" asp-controller="Clientes" asp-action="CerrarSesion">Cerrar sesión</a>
                    }
                }
                @{
                    if (TempData.Peek("usuarioEsAdmin") != null && (TempData.Peek("usuarioEsAdmin").Equals(true) || TempData.Peek("usuarioEsAdmin").Equals(false)))
                    {
                        <a class="btn btn-outline-success" data-toggle="tooltip" title="Iniciar sesión / Editar" asp-area="" asp-controller="Clientes" asp-action="Edit" asp-route-id="@TempData.Peek("usuarioId")">
                            @TempData.Peek("usuarioEmail")
                            <img class="imgBrand" src="~/images/usuario.png" alt="Iniciar Sesión" />
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-outline-success" data-toggle="tooltip" title="Iniciar sesión" asp-area="" asp-controller="Clientes" asp-action="IniciarSesion">
                            @TempData.Peek("usuarioEmail")
                            <img class="imgBrand" src="~/images/usuario.png" alt="Iniciar Sesión" />
                        </a>
                    }

                }

            </div>
        </nav>
    </header>

    <div id="banner">
        <div class="container">
            <h1>Naturaleza Mística</h1>
            <h2>Tu Vivero Online</h2>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div id="footer" class="container-fluid">
            <div class="row">
                <div class="col">
                    <p><strong class="letra-distinta">Seguinos</strong> en nuestras <strong class="letra-distinta">redes sociales</strong></p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/Naturaleza-M%C3%ADstica-198856063465203" target="_blank"><i class="fab fa-facebook facebook-color" style="font-size:36px"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/viveronaturalezamistica/" target="_blank"><i class="fab fa-instagram instagram-color" style="font-size:36px"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><strong class="letra-distinta">Envianos</strong> un <strong class="letra-distinta">whatsapp</strong></p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone=1159328585&text=Quisiera%20comunicarme%20con%20ustedes&source=&data=&app_absent=" target="_blank"><i class="fab fa-whatsapp whatsapp-color" style="font-size:36px"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <p><i class="fa fa-copyright letra-distinta" aria-hidden="true"> 2020 - Naturaleza Mistica</i></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
